// thanks to https://htmlcolorcodes.com/color-picker/
$GREEN: #33ffce;
$LIGHTBLUE: #33caff;
$DARKBLUE: #3364ff;
$PURPLE: #6833ff;
$LILA: #ce33ff;
$PINK: #ff33ca;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
